{{#if this.show}}
    <div>Subcategory indexes : {{this.currentCategoryId}}</div>
    <div>Filter : {{this.letterFilter}}</div>
    {{#conditional-loading-spinner condition=this.isLoading}}
        <div class='subcategory-bar__wrapper {{settings.plugin_outlet}}'>
            <div class='subcategory-bar__container'>
                <div class='subcategory-bar__index'>
                    <div>
                        <a {{on 'click' (fn this.filterLetter ) }}>{{letter}}</a> ทั้งหมด </a> ({{this.letterIndexes.length}})
                    </div>
                    {{#each this.letterIndexes as |letter|}}
                        <div class="index-link">
                            <a {{on 'click' (fn this.filterLetter letter) }}>{{letter}}</a>
                        </div>
                    {{/each}}
                    
                </div>
            </div>
        </div>
        <div class="subcategory-bar__grid-container">
            {{#each this.subcategories as |sc|}}
                <div class="subcategory-bar__grid-item">
                    <div>{{sc.name}}</div>
                    <div>
                        {{sc.description}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{/conditional-loading-spinner}}
{{else}}
    <div>
        Hidden
    </div>
{{/if}}